%table
  - entity&.available_actions(session, battle)&.each_slice(10) do |actions|
    %tr
      - actions.select { |a| a.class.can?(entity, battle) }.each do |action|
        %td
          %button{ :class => "action-button", :data => { action: { type: action.class.to_s, opts: action.to_h.to_json } }, :title => action.label }
            %img{ :src => "actions/#{action.action_type}#{action_flavors(action)}.png", :style => "width: 50px; height: 50px;"}
